# Supabase Configuration
SUPABASE_URL=https://ysxuyguvsgfqfqqkcsgf.supabase.co
SUPABASE_ANON_KEY=sb_publishable_OymCl9ioV61yVXM82ImC9g_7Un5irGc
SUPABASE_SERVICE_ROLE_KEY=sb_secret_mjTpFsI015JiI3gSnPZe9w_Nf7Zwc-t

# Server
PORT=3001
